<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
        <div class="bootstap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input 
                            autofocus
                            name="title"
                            matInput
                            placeholder="" 
                            type="text" 
                            required
                            [(ngModel)]="category.title">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Desciption</mat-label>
                            <textarea 
                            name="description"
                            matInput
                            placeholder=""
                            rows="15"
                            style="resize: none;"
                            required
                            [(ngModel)]="category.description">
                            </textarea>
                        </mat-form-field>
                        <div class="container text-center mt15">
                            <button class="button" type="submit" mat-raised-button color="primary" >Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
