<section class="example-card container" style="display: flex; justify-content: center; background-color: aqua;">
    <mat-card style="padding: 1rem 2rem; width: 70%; display: flex; justify-content: center; align-items: center;" >
        <mat-card-header style="width: 100%; padding: 1rem; display: flex; align-items: center; gap:1rem">
            <mat-card-title style="font-size: 1.5rem; ">Sing in</mat-card-title>
            <div style="display: inherit;" >
                <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                </svg>
            </div>
        </mat-card-header>
        <mat-card-content>
        <form (ngSubmit)="formSubmit()" [formGroup]="formParent">
        <div class="row" >
            <mat-form-field class="email">
                <mat-label>Enter your email</mat-label>
                <input [(ngModel)]="user.email" matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="getfieldForm('email')?.hasError('required')">the email is
                    required</mat-error>
                <mat-error *ngIf="getfieldForm('email')?.hasError('email')">the email is not
                    valid</mat-error>
            </mat-form-field>
            <mat-form-field class="item phone">
                <mat-label>Enter your phone number</mat-label>
                <input type="number" [(ngModel)]="user.telefono" matInput placeholder="613" formControlName="phone"
                    required>
                <mat-error *ngIf="getfieldForm('phone')?.hasError('required')">the phone is
                    required</mat-error>
                <mat-error *ngIf="getfieldForm('phone')?.hasError('minlength')">the phone is not
                    valid</mat-error>
            </mat-form-field>
            </div>
            <div class="row">
            <mat-form-field class="item username">
                <mat-label>Enter your username</mat-label>
                <input matInput [(ngModel)]="user.username" placeholder="User" formControlName="username" required>
                <mat-error *ngIf="getfieldForm('username')?.hasError('required')">the username is
                    required</mat-error>
                <mat-error *ngIf="getfieldForm('username')?.hasError('minlength')">the username is not
                    valid</mat-error>
            </mat-form-field>
            <mat-form-field class="item password">
                <mat-label>Enter your password</mat-label>
                <input matInput [(ngModel)]="user.password" type="password" placeholder="password"
                    formControlName="password" required>
                <mat-error *ngIf="getfieldForm('password')?.hasError('required')">the password is
                    required</mat-error>
                <mat-error *ngIf="getfieldForm('password')?.hasError('minLenght')">the password is not
                    valid</mat-error>
            </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="item name">
                    <mat-label>Enter your name</mat-label>
                    <input matInput [(ngModel)]="user.name" placeholder="Nicolas" formControlName="name" required>
                    <mat-error *ngIf="getfieldForm('name')?.hasError('required')">the name is
                        required</mat-error>
                    <mat-error *ngIf="getfieldForm('name')?.hasError('minlength')">min 8 letter</mat-error>
                    <mat-error *ngIf="getfieldForm('name')?.hasError('onlyLetters')">the name has only letter
                        please remove number</mat-error>
                    <mat-error *ngIf="formParent.get('name')?.invalid">the name is invalid</mat-error>
                </mat-form-field>
                <mat-form-field class="item lastname">
                    <mat-label>Enter your lastname</mat-label>
                    <input matInput [(ngModel)]="user.lastname" placeholder="Lopez" formControlName="lastname" required>
                    <mat-error *ngIf="getfieldForm('lastname')?.hasError('required')">the lastname is
                        required</mat-error>
                    <mat-error *ngIf="getfieldForm('lastname')?.hasError('minlength')">the lastname is not
                        valid</mat-error>
                </mat-form-field>
            </div>
            <mat-card-actions>

                <button type="submit" mat-raised-button color="primary" [disabled]="formParent.invalid">SingIn</button>

        </mat-card-actions>
        </form>
    </mat-card-content>
    </mat-card>
</section>