<header class="header-container">
    <mat-toolbar color="primary">
        <ul class="nav">
            <li>
                <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu_books</mat-icon>
                </a>
            </li>
            <li>
                <span>LogIn</span>
                <span class="example-spacer"></span>
                <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with login icon"></a>
            </li>
            <li>
                <span>SingIn</span>
                <span class="example-spacer"></span>
                <a [routerLink]="'/singup'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with login icon"></a>
            </li>
        </ul>
    </mat-toolbar>
</header>